
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: "Poppins";
  }
  body {
    color: white;
    margin: 0;
    overflow-x: hidden;
  }
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }

  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  a {
    background-color: transparent;
  }

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }

  button,
  input { /* 1 */
    overflow: visible;
  }

  button,
  select { /* 1 */
    text-transform: none;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  

  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

  progress {
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
  }
 
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
 
  details {
    display: block;
  }

  summary {
    display: list-item;
  }
 
  template {
    display: none;
  }
 
  [hidden] {
    display: none;
  }

  ul{
    list-style: none;
    margin-left: -38px;
  }
  ul > li{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
  }
  
header{
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: transparent;
}
header > div > div{
  justify-content: space-between;
}
header > div > div > nav{
  margin-top: -15px;
}
header > div > div > nav > ol > li{
  margin-left: 20px;  
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}
.account > a{
  font-size: 17px;
}
.container{
    max-width: 1376px;
    margin: 0 auto;
    padding: 20px 50px;
}
#ship1{
    background-image: url(../img/BG1.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.flex{
  display: flex;
}
.block{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: white;
}
ol{
  list-style: none;
}
#ship1 > div > div {
  justify-content: space-between;
}
section{
  background-color: #0B1D27;
}
.border{
  height: 1px;
  width: 70px;
  background-color: #FBD784;
}
h3{
  color: #FBD784;
}
.block > div > div > h3{
  margin: -10px 0px 0px 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 800;
  line-height: 27px;
  font-size: 18px;
}
.block > div > div > a{
  color: #FBD784;
  font-size: 18px;
  font-weight: bold;
}
.relative{
  position: relative;
}
.relative > .border, .relative > h3{
  z-index: 2;
}
.position_absolute{
  position: absolute;
  margin: -390px 0px 0px -70px;
}
.position_absolute h2{
  font-size: 240px;
  color: #23343C;
  z-index: 5;
}
#ship1{
  position: relative;
}
#ship2, #ship3, #ship4{
  position: relative;
  padding: 0px 0px 200px 0px;
}
.padding{
  padding: 260px 0px;
}
.margin{
  margin: 260px 0px 0px 150px;
  width: 620px;
  text-align: left;
}

footer{
  padding: 60px 0px;
  background-color: #0B1D27;
}
footer > div > div{
  justify-content: space-between;
}
footer > div > div > h4{
  color: #848D92;
  opacity: 50%;
  font-size: 18px;
  font-weight: 400;
}
footer > div > div > div p{
  width: 360px;
  line-height: 32px;
  font-size: 18px;
  font-weight: 600;
}
.right li{
  padding-right: 40px;
  height: 50px;
  padding-top: 20px;
  text-align: right;
  border-right: 1px solid rgb(124, 124, 124);
}
.white{
  border-right: 1px solid white !important;
}
.left{
  margin-top: 60px;
  writing-mode: vertical-rl;
}
.left > a{
  font-size:18px;
  font-weight: 700;
  line-height: 27px;
}
.left > a > img{
  margin: 10px 0px;
}
.center h3{
  margin: -10px 0px 0px 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.center{
  width: 900px;
  margin-left: 100px;
}
.foter_bot > a > img{
  margin: 0px 0px -8px 5px;
}
.body_midle > h1{
  font-size: 88px;
  font-family: 'Playfair Display';
  font-weight: 600px;
  line-height: 100px;
}
.block > div > div > h1{
  font-size: 64px;
  font-weight: 700;
  line-height: 90px;
}
.block > div > div > p{
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}
.hamb__field{
  visibility: hidden;
  display: none;
}



:root {
  --gap-header: 400px;
  --padding-all: 20px 80px;
  /* --cont-width: #235ad1; */
  /* var(--main-bg-color) */
}


/* Для всплывающего меню */
.popup{
  display: none;
}
body.noscroll {
  overflow: hidden;
}
.popup {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  display: flex;
  transition: 0.3s;
  color: black;
}

.popup.open {
  left: 0;
}
.hamb__field {
  padding: 10px 20px;
  cursor: pointer;
}
.bar {
  position:relative;
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: #fff;
  transition: 0.2s;
  z-index: 5;
  margin-left:120px;
}
.black{
  background-color: #000 !important;
}
.logo2 a{
  color: black;
  font-size: 28px;
  font-weight: bold;
}
.pad{
  padding: 30px;
}
.popup > div > div > nav{
  visibility: visible;
  margin-top: 60px;
  opacity: 1;
  padding-bottom: 80px;
}
.popup > div > div > nav > ol > li{
  margin: 30px 0px 0px -40px;
}
.popup > div > div > nav > ol > li > a{
  color: black;
  font-size: 24px;
  font-weight: 600;
}
.popup > div > div > div > div > a{
  color: black;
  writing-mode: vertical-rl;
  font-size: 18px;
  font-weight:600;
  width: 20px;
}
.popup > div > div > a{
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.popup > div > div > a > img{
  margin-bottom: -8px;
}
.grid > a > img{
  margin-top: 10px;
}
.grid{
  margin-top: 100px;
  margin-left: 180px;
  display: grid;
}





